
.html, body {
  background-color: #fff;
  color: #2D3640;
}

h1, h2 {
  font-weight: 500;
}
h2 {
  font-size: 1.75em;
}
h3 {
  margin: .75em 0;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 500px;
  border: none;
  padding: 1em;
}

.logo {
  max-width: 100px;
  margin: auto;
}
span.logo-sub {
  font-size: .8em;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 0 auto 1em auto;
}

.controls {
  display: block;
  padding: .5em 1em 1.5em 1em;
  background-color: #B3D6FF;
  border-radius: .5em;
  text-align: center;

} 

.controls h3 {
  margin: .5em;
}

.ss, .ssf {
  font-size: .8em;
  font-weight: 900;
}
.ss {
  position: relative;
  left: -.1em;
  top: -.1em;
  font-weight: 700;
}
.ssf {
  margin-top: .15em;
  margin-left: -.1em;
  font-weight: 700;
}

.controls select, .controls button {
  min-width: 150px;
  margin: 0 0.5em;
  height: 2rem;
  text-align: center;
  border-radius: .25em;
}

button {
  color: #fff;
  background-color: #2D3640;
  border: none;
  
}
select {
  border: 1px solid #2D3640;
  color: #2D3640;
  background-color: white;
}
select option {
  text-align: center;
}

div.all-notes {
  padding: 0 .25em .25em .25em;
}

div.all-notes:nth-child(odd)  {
  background-color: #b3d6ff26;
}

span.chord-type {
  display: inline-block;
  min-width: 50px;
  font-size: .8em;
  margin-bottom: .25rem;
}

span.chord-name {
  display: inline-block;
  min-width: 170px;
  font-size: .8em;
  margin-bottom: .25rem;
}

div.notes {
  min-width: 100px;
  display: inline-flex;
  justify-content: space-between;
}

span.note {
  display: flex;
}

span.prog {
  display: inline-block;
  margin-right: 1em;
}
span.prog-sm {
  font-size: .8em;
  margin-right: .5em;
  display: inline-block;
}

div.chordProg {
  padding: .25em .25em .5em .25em;
}

div.chordProg:nth-child(even)  {
  background-color: #b3d6ff26;
}



/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container {
    margin: 2em auto;
    max-width: 500px;
    border-radius: .5em;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
  }
  .html, body {
    background-color: #86A1BF;
  }
 }

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */