@import url("https://use.typekit.net/eub2zlm.css");

body {
  margin: 0;
  font-family: greycliff-cf,sans-serif;
font-weight: 500;
font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
